*{
  box-sizing:border-box;
  margin:0;
  padding:0
}

a{
  text-decoration: none;
}

body{
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* --------------------------HEADER-------------------------- */
header {
  position: relative;
  text-align: center;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 60%);
  z-index: 1;
}

.wallpaper {
  width: 100%;
  height: auto;
  display: block;
}

header nav, header h1, header h3 {
  position: absolute;
  z-index: 2;
  color: white;
}

header nav {
  top: 30px;
  width: 80%;
  margin-left: 3%;
  display: flex;
  justify-content: space-between;
}

header ul{
  display: flex;
  list-style: none;
  gap: 50px;
}

header li{
  color: white;
  font-weight: 200;
}

header li:hover{
  scale: 1.2;
  color: #896FAF;
  border-bottom: 3px solid #896FAF;
  padding-bottom: 20px;
  font-weight: 700;
}

header h4{
  font-weight: 300;
}

header h3 {
  bottom: 450px;
  width: 100%;
  font-weight: 300;
  text-shadow: 4px 4px 8px #171717;
}

header h1 {
  bottom: 330px;
  width: 100%;
  font-weight: 300;
  font-size: 96px;
  text-shadow: 5px 5px 8px #171717;
}

/* --------------------------SOBRE-------------------------- */
#sobre{
  background-color: #fff;
}

.sobre{
  width: 70%;
  margin-left: 15%;
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;

}

#sobre p{
  text-align: left;
  line-height: 1.8;
}

#sobre h1{
  color: #171717;
  font-weight: 300;
  padding-bottom: 3%;
}

.sobre h4{
  text-align: left;
  line-height: 3;
}

.destaque{
  color: #896FAF;
}

.detalhes-e-carrossel{
  display: flex;
}

.curriculo{
  width: 55%;
}

/* CARROSSEL */
.carousel-container {
    width: 45%;
    height: 300px; /* Altura do carrossel */
    overflow: hidden; /* Oculta as imagens que estão fora da área */
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.slides-wrapper {
    display: flex;
    /* Importante: O JS alterará o 'transform: translateX()' 
    para mover as imagens.
    */
    transition: transform 0.5s ease-in-out; 
    height: 100%;
}

.slide {
    min-width: 100%; /* Garante que cada slide ocupe 100% da largura do contêiner */
    height: 100%;
    object-fit: cover;
}

/* Estilizando os botões de controle */
.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
}

.prev-button {
    left: 10px;
    border-radius: 5px;
}

.next-button {
    right: 10px;
    border-radius: 5px;
}

.prev-button:hover, .next-button:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* --------------------------PALESTRAS-------------------------- */
#palestras{
  background-color: #171717;
}

.palestras{
  text-align: center;
  width: 70%;
  margin-left: 15%;
  padding-top: 8%;
  padding-bottom: 8%;
}

#palestras h1{
  color: #e4e4e4;
  font-weight: 400;
  padding-bottom: 3%;
}

#palestras h3{
  color: #e4e4e4;
  font-weight: 300;
  padding-bottom: 1%;
}

#palestras h4{
  color: #7d7d7d;
  font-weight: 300;
  padding-top: 1%;
}

#palestras p{
  text-align: left;
  line-height: 1.8;
  color: #e4e4e4;
  padding-bottom: 5%;
}

.palestras .button{
  color: #e4e4e4;
  padding: 12px 64px;
  border-radius: 8px;
  background-color: #896FAF;
}

.links-externos{
  padding-top: 5%;
}

.links-externos h2{
  color: #e4e4e4;
  font-weight: 300;
  padding-bottom: 3%;
}

.conteudos{
  gap: 30px;
  display: flex;
}

.summit, .campus-party, .correio, .podcast{
  width: 25%;
}

figure img{
  width: 100%;
  border-radius: 4px;
  border: 2px solid white;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

figure p{
  text-align: center;
}

figure figcaption{
  color: #e4e4e4;
  padding-top: 3%;
}

.titulo{
  padding-top: 5%;
  font-weight: 800;
  margin-bottom: 10%;
}

.conteudos a{
  color: #e4e4e4;
  padding: 12px 64px;
  border-radius: 8px;
  background-color: #896FAF;
}

.palestras h2{
  padding-top: 10%;
  color: #e4e4e4;
  font-weight: 300;
}

.summit25{
  width: 80%;
  height: 520px;
  padding-top: 3%;
  padding-bottom: 15%;
}

.palestras2025 {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 2rem; 
  justify-items: center; 
  padding: 2rem;
}

.palestras2025 figure {
  text-align: center;
}

.palestras2025 img {
  width: 60%;
  border-radius: 10px;
}

/* --------------------------LIVRO-------------------------- */
#livro{
  text-align: center;
  width: 70%;
  margin-left: 15%;
  padding-top: 8%;
  padding-bottom: 8%;
}

#livro h2{
  font-weight: 400;
  padding-bottom: 2%;
}

.livro{
  display: flex;
}

.infos-livro{
  padding-top: 5%;
  text-align: left;
  line-height: 30px;
  width: 60%;
}

.infos-livro h2{
  font-weight: 300;
}

.infos-livro p{
  line-height: 25px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.imagem-livro{
  width: 35%;
  padding-top: 3%;
  margin-left: 2%;
}

.imagem-livro img{
  width: 100%;
}

.livro a{
  color: #ffffff;
  padding: 12px 64px;
  border-radius: 8px;
  background-color: #896FAF;
}

/* --------------------------FOOTER-------------------------- */
footer{
  background-color: #171717;
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: center;
}

footer h3{
  color: #e4e4e4;
  padding-bottom: 10px;
  font-weight: 200;
}

footer h5{
  color: #7d7d7d;
  padding-bottom: 40px;
  font-weight: 400;
}

footer p{
  color: #e4e4e4;
  padding-top: 120px;
  font-weight: 200;
}

.redes_sociais{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.redes_sociais img {
  width: 40px;
}