*{
  box-sizing:border-box;
  margin:0;
  padding:0
}

a{
  text-decoration: none;
}

body{
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* --------------------------HEADER-------------------------- */
header {
  position: relative;
  text-align: center;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 60%);
  z-index: 1;
}

.wallpaper {
  width: 100%;
  height: auto;
  display: block;
}

header nav, header h1, header h3 {
  position: absolute;
  z-index: 2;
  color: white;
}

header nav {
  top: 30px;
  width: 80%;
  margin-left: 3%;
  display: flex;
  justify-content: space-between;
}

header ul{
  display: flex;
  list-style: none;
  gap: 50px;
}

header li{
  color: white;
  font-weight: 200;
}

header li:hover{
  scale: 1.2;
  color: #896FAF;
  border-bottom: 3px solid #896FAF;
  padding-bottom: 20px;
  font-weight: 700;
}

header h4{
  font-weight: 300;
}

header h3 {
  bottom: 420px;
  width: 100%;
  font-weight: 300;
  text-shadow: 4px 4px 8px #171717;
}

header h1 {
  bottom: 300px;
  width: 100%;
  font-weight: 300;
  font-size: 96px;
  text-shadow: 5px 5px 8px #171717;
}

/* Botão do menu (hamburguer) */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 1000;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Estado ativo (animação de X) */
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


/* --------------------------SOBRE-------------------------- */
#sobre{
  background-color: #fff;
}

.sobre{
  width: 70%;
  margin-left: 15%;
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;

}

#sobre p{
  text-align: left;
  line-height: 1.8;
}

#sobre h1{
  color: #171717;
  font-weight: 300;
  padding-bottom: 3%;
}

.sobre h4{
  text-align: left;
  line-height: 3;
}

.destaque{
  color: #896FAF;
}

.detalhes-e-carrossel{
  display: flex;
}

.curriculo{
  width: 55%;
}

/* CARROSSEL */
.carousel-container {
    width: 45%;
    height: 350px; /* Altura do carrossel */
    overflow: hidden; /* Oculta as imagens que estão fora da área */
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.slides-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out; 
    height: 100%;
}

.slide {
    min-width: 100%; 
    height: 100%;
    object-fit: cover;
}

.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
}

.prev-button {
    left: 10px;
    border-radius: 5px;
}

.next-button {
    right: 10px;
    border-radius: 5px;
}

.prev-button:hover, .next-button:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* --------------------------PALESTRAS-------------------------- */
#palestras{
  background-color: #171717;
}

.palestras{
  text-align: center;
  width: 70%;
  margin-left: 15%;
  padding-top: 8%;
  padding-bottom: 8%;
}

#palestras h1{
  color: #e4e4e4;
  font-weight: 400;
  padding-bottom: 3%;
}

#palestras h3{
  color: #e4e4e4;
  font-weight: 300;
  padding-bottom: 1%;
}

#palestras h4{
  color: #7d7d7d;
  font-weight: 300;
  padding-top: 1%;
}

#palestras p{
  text-align: left;
  line-height: 1.8;
  color: #e4e4e4;
  padding-bottom: 5%;
}

.palestras .button{
  color: #e4e4e4;
  padding: 12px 64px;
  border-radius: 8px;
  background-color: #896FAF;
}

.links-externos{
  padding-top: 5%;
}

.links-externos h2{
  color: #e4e4e4;
  font-weight: 300;
  padding-bottom: 3%;
}

.conteudos{
  gap: 30px;
  display: flex;
}

.summit, .campus-party, .correio, .podcast{
  width: 25%;
}

figure img{
  width: 100%;
  border-radius: 4px;
  border: 2px solid white;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

figure p{
  text-align: center;
}

figure figcaption{
  color: #e4e4e4;
  padding-top: 3%;
}

.titulo{
  padding-top: 5%;
  font-weight: 800;
  margin-bottom: 10%;
}

.conteudos a{
  color: #e4e4e4;
  padding: 12px 64px;
  border-radius: 8px;
  background-color: #896FAF;
}

.palestras h2{
  padding-top: 10%;
  color: #e4e4e4;
  font-weight: 300;
}

.summit25{
  width: 80%;
  height: 650px;
  padding-top: 3%;
  padding-bottom: 15%;
}

.palestras2025 {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 2rem; 
  justify-items: center; 
  padding: 2rem;
}

.palestras2025 figure {
  text-align: center;
}

.palestras2025 img {
  width: 60%;
  border-radius: 10px;
}

/* --------------------------LIVRO-------------------------- */
#livro{
  text-align: center;
  width: 70%;
  margin-left: 15%;
  padding-top: 8%;
  padding-bottom: 8%;
}

#livro h2{
  font-weight: 400;
}

.first-item{
  padding-top: 3%;
}

.livro{
  display: flex;
}

.infos-livro{
  padding-top: 5%;
  text-align: left;
  line-height: 30px;
  width: 60%;
}

.infos-livro h2{
  font-weight: 300;
  padding-top: 5%;
}

.infos-livro p{
  line-height: 25px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.imagem-livro{
  width: 35%;
  padding-top: 3%;
  margin-left: 2%;
}

.imagem-livro img{
  width: 100%;
}

.livro a{
  color: #ffffff;
  padding: 12px 64px;
  border-radius: 8px;
  background-color: #896FAF;
}

/* --------------------------FOOTER-------------------------- */
footer{
  background-color: #171717;
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: center;
}

footer h3{
  color: #e4e4e4;
  padding-bottom: 10px;
  font-weight: 200;
}

footer h5{
  color: #7d7d7d;
  padding-bottom: 40px;
  font-weight: 400;
}

footer p{
  color: #e4e4e4;
  padding-top: 120px;
  font-weight: 200;
}

.redes_sociais{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.redes_sociais img {
  width: 40px;
}


/* ====================== MEDIA QUERY - 1100px ====================== */
@media (max-width: 1100px) {
  header h3 {
    bottom: 300px;
  }

  header h1 {
    bottom: 200px;
  }
}

/* ====================== MEDIA QUERY - 768px ====================== */
@media (max-width: 1100px) {
  header h3 {
    bottom: 180px;
  }

  header h1 {
    bottom: 100px;
    font-size: 76px;
  }

  header nav {
  top: 20px;
  width: 90%;
  margin-left: 2%;
  }

  header ul{
    gap: 40px;
  }

  /* SOBRE */
  .sobre {
    width: 90%;
    margin-left: 5%;
    text-align: left;
  }

  .detalhes-e-carrossel {
    flex-direction: column;
    align-items: center;
  }

  .curriculo {
    width: 100%;
  }

  .carousel-container {
    width: 100%;
    height: 350px;
    margin-top: 30px;
  }

   /* PALESTRAS */
  .palestras {
    width: 90%;
    margin-left: 5%;
    padding-top: 15%;
  }

  .conteudos {
    flex-direction: column;
    gap: 50px;
  }

  .summit, .campus-party, .correio, .podcast {
    width: 100%;
  }

  .titulo{
    padding-top: 2%;
    margin-bottom: 5%;
  }

  .summit25 {
    width: 100%;
    height: 450px;
  }

  .palestras2025 {
    grid-template-columns: 2fr;
    gap: 1.5rem;
  }

  .palestras2025 figure{
    width: 40%;
  }

  .palestras2025 img {
    width: 100%;
  }

  .palestras2025 figcaption{
    padding-bottom: 15%;
  }

  /* LIVRO */
  #livro {
    width: 90%;
    margin-left: 5%;
    text-align: left;
    text-align: center;
  }

  .livro {
    flex-direction: column-reverse;
    align-items: center;
  }

  .imagem-livro {
    width: 70%;
    margin-left: 0;
    padding-top: 0;
  }

  .infos-livro {
    width: 100%;
  }

  .infos-livro h2 {
    font-size: 16px;
  }

  .infos-livro{
    text-align: center;
  }
  
}

/* ====================== MEDIA QUERY - 650px ====================== */
@media (max-width: 650px) {
  /* GERAL */
  body {
    font-size: 14px;
  }

  main {
    overflow-x: hidden;
  }

  /* HEADER */
  .menu-toggle {
    display: flex;
  }


  nav ul {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    gap: 20px;
    z-index: 1000;
  }

  /* Mostra quando ativo */
  nav ul.active {
    display: flex;
    z-index: 999;
    position: fixed;
  }

  nav li {
    font-size: 16px;
  }

  nav h4 {
    font-size: 16px;
  }

  header h3 {
    bottom: 120px;
    font-size: 16px;
  }

  header h1 {
    bottom: 65px;
    font-size: 42px;
  }

  header li:hover {
    border: none;
    scale: 1;
  }

  /* SOBRE */
  .sobre {
    width: 90%;
    margin-left: 5%;
    text-align: left;
  }

  .detalhes-e-carrossel {
    flex-direction: column;
    align-items: center;
  }

  .curriculo {
    width: 100%;
  }

  .carousel-container {
    width: 100%;
    height: 250px;
    margin-top: 30px;
  }

  /* PALESTRAS */
  .palestras {
    width: 90%;
    margin-left: 5%;
    padding-top: 15%;
  }

  .conteudos {
    flex-direction: column;
    gap: 50px;
  }

  .summit, .campus-party, .correio, .podcast {
    width: 100%;
  }

  .summit25 {
    width: 100%;
    height: 450px;
  }

  .palestras2025 {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: 100%;
  }

  .palestras2025 img {
    width: 100%;
  }

  /* LIVRO */
  #livro {
    width: 90%;
    margin-left: 5%;
    text-align: center;
  }

  .livro {
    flex-direction: column-reverse;
    align-items: center;
  }

  .imagem-livro {
    width: 80%;
    margin-left: 0;
    padding-top: 0;
  }

  .infos-livro {
    width: 100%;
  }

  .infos-livro h2 {
    font-size: 16px;
  }

  /* FOOTER */
  footer {
    padding: 40px 10px;
  }

  .redes_sociais {
    flex-wrap: wrap;
    gap: 15px;
  }

  .redes_sociais img {
    width: 32px;
  }

  footer p {
    padding-top: 60px;
    font-size: 12px;
  }
}

/* ====================== MEDIA QUERY - 425px ====================== */
@media (max-width: 425px) {
  header h3 {
    bottom: 100px;
    font-size: 14px;
  }

  header h1 {
    bottom: 55px;
    font-size: 42px;
  }

  .sobre h4{
  line-height: 1.6;
  padding-bottom: 10px;
  }
}